/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */
/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
.container {
  max-width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* #endregion common */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* #region header */
.page-header .container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 76px;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.list-contacts {
  display: flex;
  gap: 40px;
}

.main-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.text-iris {
  color: #2e2f42;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.nav-menu > .list-nav:active {
  color: #404bbf;
  text-decoration: underline;
}
.container-contacts {
  font-style: normal;
}
.contacts {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region hero */
.hero-banner {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.button-order {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region features*/
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion features*/

/* #region our team */
.container-team {
  background-color: #f4f4fd;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.team-items {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* #endregion our team */

/* #region portfolio */
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion portfolio */
.container-footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}
.text-white {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}
/* #region footer */
