/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */
/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* #endregion common */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* #region header */
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  gap: 76px;
}

.nav-menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
.page-header .container a {
  padding: 25px 0;
}
.main-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.text-iris {
  color: #2e2f42;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.nav-menu > .list-nav:active {
  color: #404bbf;
  text-decoration: underline;
}

.list-contacts {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.contacts {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region hero */
.section-hero {
  background-color: #2e2f42;
}

.section-hero .container {
  padding: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin: auto;
}
.button-order {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 48px auto 0;
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-features {
  padding: 120px;
}
.features-list {
  display: flex;
  flex-basis: calc((100% - 72px) / 4);
  gap: 24px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion features*/

/* #region our team */
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  flex-basis: calc((100%- 72px) / 4);
  gap: 24px;
}
.team-descr {
  padding: 32px 16px;
  text-align: center;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-items {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* #endregion our team */

/* #region portfolio */
.section-portfolio {
  padding: 120px 0;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 96px) / 6);
  gap: 24px;
}

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.portfolio-descr {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion portfolio */
.container-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.descr-footer {
  width: 264px;
}
.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.text-white {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #region footer */
